<h1>Attractions</h1>
<table>
  <tbody>
    <% @attractions.each do |attraction| %>
      <tr>
        <td> <%=link_to "Go on #{attraction.name}", attraction_path(attraction) if !current_user.admin%></td>
        <td> <%=link_to "Show #{attraction.name}", attraction_path(attraction) if current_user.admin%></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br><br>
<% if current_user.admin %>
  <p><%= link_to 'New Attraction', new_attraction_path %></p>
<% end %>
